.pfs
  .top
    .contents
      #page-loading
        .load#loading
          -# = "l o a d i n g"
      .loaded#page-loaded
        .main
          .main__welcome
            -# = "Welcome"
          -# .main__pf
            -# = "portfolio"
          -# .main__creator
          -#   = "creator"
          -# .main__name
          -#   = "Yuichiro Ito"
