.pf{
  .roadbiker{
    .road-page{
      background-color: black;
      // height: 100vh;
      height: 100%;
      // &__image{
      //   img{
      //     animation: shrink 0.5s 1;
      //   }
      // }
      &__home{
        font-family: "Apple Chancery";
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: white;
        opacity: 0.8;
        width: 100px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        animation: gradatebtn 1s;
        transition: 0.6s;
        a{
          z-index: 1;
          left: 0px;
          top: 0px;
          position: absolute;
          color: black;
          width: 100%;
          height: 100%;
        }
      }
      &__home:hover{
        width: 200px;
        background-color: rgba(255, 255, 255, 0.678);
        opacity: 0.8;
        transition: 0.4s;
      }
      &__title{
        padding-top: 20vh;
        text-align: center;
        color: white;
        font-size: 80px;
        font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
        text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
        letter-spacing: -4px;
        padding-bottom: 20px;
        color: #4790BB;
        animation: gradate 5s;
      }
      &__image{
        // background-color: white;
        text-align: center;
        padding-top: 30vh;
        padding-bottom: 20vh;
        img{
          // animation: rotateImg 20s infinite,shrink .9s ;
          animation: rotateImg 20s infinite,shrink .9s ;
        }

      }
      &__contents{
        margin: auto;
        // padding-top: 20vh;
        width: 90%;
        // background-color: red; 
        &__box{
          // background-color: blue;
          // width: 90%;
          // text-align: center;
          display: flex;
          justify-content: space-evenly;
          margin: auto;
          height: 2000px;
          &__left{
            color: white;
            padding-top: 150px;
            width: 45%;
            &__first{
              background-color: rgba(14, 13, 13, 0.377);
              opacity: 0;
              padding: 20px;
              height: 200px;
              // width: 200px;
              text-align: center;
              // line-height: 200px;
              &__title{
                padding: 10px;
                font-size: 25px;
              }
              &__text{
                padding: 10px;
              }
            }
            &__second{
              background-color: rgba(14, 13, 13, 0.377);
              opacity: 0;
              height: 200px;
              // width: 200px;
              // padding-top: 100px;
              transform: translate(0px,100px);
              text-align: center;
              &__title{
                padding: 10px;
                font-size: 25px;
              }
              &__text{
                padding: 10px;

              }
            }
          }
          &__right{
            padding-top: 300px;
            color: white;
            // margin: auto;
            width: 45%;
            &__first{
              opacity: 0;
              height: 200px;
              background-color: rgba(14, 13, 13, 0.377);
              text-align: center;
              &__title{
                padding: 10px;
                font-size: 25px;
              }
              &__text{
                padding: 10px;
              }
            }
            &__second{
              background-color: rgba(14, 13, 13, 0.377);
              opacity: 0;
              height: 200px;
              transform: translate(0px,100px);
              text-align: center;
              &__title{
                padding: 10px;
                font-size: 25px;
              }
              &__text{
                padding: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes shrink{
  0%{transform: scale(8,8);}
  90%{transform: scale(0,0);}
  100%{transform: scale(1,1) rotateZ(360deg);}
}

@keyframes rotateImg {
  0%{transform: translate(0px,0px) rotateX(40deg) rotateY(0deg)}
  10%{transform: translate(-150px,-50px) rotateX(30deg) rotateY(40deg)}
  20%{transform: translate(-300px,-100px) rotateX(20deg) rotateY(80deg)}
  30%{transform: translate(-150px,-50px) rotateX(30deg) rotateY(40deg)}
  50%{transform: translate(0px,0px) rotateX(40deg) rotateY(0deg)}
  60%{transform: translate(150px,-50px) rotateX(30deg) rotateY(-40deg)}
  70%{transform: translate(300px,-100px) rotateX(20deg) rotateY(-80deg)}
  80%{transform: translate(150px,-50px) rotateX(30deg) rotateY(-40deg)}
  100%{transform: translate(0px,0px) rotateX(40deg) rotateY(0deg)}
}