#stalker {
  pointer-events: none;   //これによってlinkなどを押せる
  position: absolute;
  top: -18px;     //座標調節（カーソル位置と円の中心を合わせる）
  left: -18px;    //座標調節（カーソル位置と円の中心を合わせる）
  width: 36px;   //マウスストーカーの直径
  height: 36px;  //マウスストーカーの直径
    color: gold;
  transform: translate(0,0);
  transition: transform 0.1s;  //ちょっと遅れてついてくるように
  transition-timing-function: ease-out;
  z-index: 999;
}
.pf{
  #click{
    position: absolute;
    font-size: 60px;
    color: yellow;
    animation: spin .4s linear infinite,;
  }
  .roadbiker{
    .road-page{
      background-color: black;
      // height: 100vh;
      height: 100%;
      &__home{
        font-family: "Apple Chancery";
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: white;
        opacity: 0.8;
        width: 100px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        animation: gradatebtn linear 1s;
        transition: 0.6s;
        a{
          z-index: 1;
          left: 0px;
          top: 0px;
          position: absolute;
          color: black;
          width: 100%;
          height: 100%;
        }
      }
      &__home:hover{
        width: 200px;
        background-color: rgba(255, 255, 255, 0.678);
        opacity: 0.8;
        transition: 0.4s;
        letter-spacing: 5px;
      }
      &__portfolio{
        font-family: "Apple Chancery";
        position: absolute;
        top: 120px;
        left: 10px;
        background-color: white;
        opacity: 0.8;
        width: 100px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        animation: gradatebtn linear 1s;
        transition: 0.6s;
        a{
          z-index: 1;
          left: 0px;
          top: 0px;
          position: absolute;
          color: black;
          width: 100%;
          height: 100%;
        }
      }
      &__portfolio:hover{
        letter-spacing: 10px;
        width: 200px;
        background-color: rgba(255, 255, 255, 0.678);
        opacity: 0.8;
        transition: 0.4s;
      }
      &__title{
        padding-top: 25vh;
        text-align: center;
        color: white;
        font-size: 80px;
        font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
        text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
        letter-spacing: -4px;
        padding-bottom: 20px;
        color: #4790BB;
        animation: gradate linear 5s;
      }
      &__image{
        text-align: center;
        padding-top: 20vh;
        padding-bottom: 15vh;
        img{
          animation: rotateimg 30s linear infinite ,shrink 3s;
        }

      }
      &__contents{
        margin: auto;
        width: 90%;
        &__box{
          display: flex;
          justify-content: space-evenly;
          margin: auto;
          height: 100%;
          padding-bottom: 300px;
          &__left{
            color: white;
            padding-top: 150px;
            width: 45%;
            &__first{
              background-color: rgba(14, 13, 13, 0.377);
              opacity: 0;
              padding: 20px;
              height: 200px;
              text-align: center;
              &__title{
                padding: 10px;
                font-size: 25px;
              }
              &__text{
                padding: 10px;
              }
            }
            &__second{
              background-color: rgba(14, 13, 13, 0.377);
              opacity: 0;
              height: 200px;
              transform: translate(0px,100px);
              text-align: center;
              &__title{
                padding: 10px;
                font-size: 25px;
              }
              &__text{
                padding: 10px;

              }
            }
          }
          &__right{
            padding-top: 300px;
            color: white;
            width: 45%;
            &__first{
              opacity: 0;
              height: 200px;
              background-color: rgba(14, 13, 13, 0.377);
              text-align: center;
              &__title{
                padding: 10px;
                font-size: 25px;
              }
              &__text{
                padding: 10px;
              }
            }
            &__second{
              background-color: rgba(14, 13, 13, 0.377);
              opacity: 0;
              height: 200px;
              transform: translate(0px,100px);
              text-align: center;
              &__title{
                padding: 10px;
                font-size: 25px;
              }
              &__text{
                padding: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes shrink{
  0%{transform: scale(8,8);}
  90%{transform: scale(0,0);}
  100%{transform: scale(1,1) rotateZ(360deg);}
}

@keyframes rotateimg {
  0%{transform: translate(0px,0px) rotateX(40deg) rotateY(0deg)}
  27%{transform: translate(-150px,-50px) rotateX(30deg) rotateY(40deg)}
  29%{transform: translate(-300px,-100px) rotateX(20deg) rotateY(40deg)rotateZ(360deg)}
  31%{transform: translate(-310px,-105px) rotateX(20deg) rotateY(40deg)rotateZ(363deg)}
  33%{transform: translate(-150px,-50px) rotateX(30deg) rotateY(40deg)}
  50%{transform: translate(0px,0px) rotateX(40deg) rotateY(0deg)}
  67%{transform: translate(150px,-50px) rotateX(30deg) rotateY(-40deg)}
  69%{transform: translate(300px,-100px) rotateX(20deg) rotateY(-40deg) rotateZ(-360deg)}
  71%{transform: translate(300px,-100px) rotateX(20deg) rotateY(-40deg) rotateZ(-363deg)}
  73%{transform: translate(150px,-50px) rotateX(30deg) rotateY(-40deg)}
  100%{transform: translate(0px,0px) rotateX(40deg) rotateY(0deg)}
}
 
@keyframes spin {
  0%{transform: rotateY(0deg);}
  100%{transform: rotateY(360deg);}
}
